.ow_credits_ccbill_info_wrap .ow_ccbill_title {
    margin-bottom: 4px;
    display: inline-block;
}
.ow_credits_ccbill_info_wrap .ow_ccbill_text {
    font-size: 11px;
    line-height: 14px;
    margin-bottom: 0;
}
.ow_credits_ccbill_info_wrap .ow_ccbill_link {
    font-size: 11px;
    line-height: 14px;
    display: inline-block;
}
.velvet .ow_credits_ccbill_info_wrap .ow_ccbill_link a {
    color: #f6d8ef;
}
.intense .ow_credits_ccbill_info_wrap .ow_ccbill_link a {
    color: #f6d8ef;
}
.platinum_pro .ow_credits_ccbill_info_wrap .ow_ccbill_title {
    font-weight: bold;
}
.lightshades .ow_credits_ccbill_info_wrap .ow_ccbill_title {
    font-weight: bold;
}
.mosaic .ow_credits_ccbill_info_wrap .ow_ccbill_title {
    font-weight: bold;
}