<?xml version="1.0" encoding="utf-8"?>

<plugin>
    <name>Badwords</name>
    <key>badwords</key>
    <description>Help website Administrator to block bad words from post and help to keep website safe and clean</description>
    <author>Skalfa LLC</author>
    <authorEmail>oxwallplugins@skalfa.com</authorEmail>
    <authorUrl>http://www.skalfa.com/</authorUrl>
    <developerKey>99d6bdd5bb6468beaf118c4664dd92ff</developerKey>
    <build>7</build>
    <copyright>(C) 2009 Skalfa LLC. All rights reserved.</copyright>
    <license>OSCL</license>
    <licenseUrl>http://www.oxwall.org/store/oscl</licenseUrl>
</plugin>
