<?xml version="1.0" encoding="utf-8"?>
<plugin>
    <name>Video Upload</name>
    <key>cvideoupload</key>
    <description>Video Upload.</description>
    <author>Skalfa LLC</author>
    <authorEmail>oxwallplugins@skalfa.com</authorEmail>
    <authorUrl>http://www.skalfa.com</authorUrl>
    <developerKey>99d6bdd5bb6468beaf118c4664dd92ff</developerKey>
    <build>3</build>
    <copyright>(C) 2020 Skalfa LLC. All rights reserved.</copyright>
    <license>OSCL</license>
    <licenseUrl>http://www.oxwall.org/store/oscl</licenseUrl>
</plugin>
